
@{
    ViewBag.Title = "Investor";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
    <div class="container">
        <div class="col-lg-10 col-md-10 bodysection p-50">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item active">You are an investor</li>
            </ol>
            <h2 class="page_title">You are an investor</h2>
            <div class="aboutText m-t40">
                <h2>Page Under Maintenance</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
