<footer>
    <div class="footer-contact-container">
        <div class="container">
            <h2>DO YOU HAVE A PROJECT ? CONTACT US</h2>
        </div>
    </div>
    <div class="container">
        <ul class="footernav">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","ContactUs")">Contact</a></li>
            <li><a href="#">Legal notices</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="clearfix"></div>
        <p>Copyright Hydrolinkconsultancy.com © @DateTime.Now.Year — All rights reserved.</p>
    </div>
</footer>
